/* ForgotPassword.css e ResetPassword.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container-password-password {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.form-container-password h2 {
  margin-bottom: 20px;
}

.form-container-password input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container-password button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container-password button:hover {
  background-color: #45a049;
}

.form-container-password p {
  margin-top: 10px;
  color: #aaa8a8;
}
