/* General container */
.login-container {
  display: flex;
  height: 100vh;
  background-image: url('./../../public/assets/AFILIADO.png');
  background-size: cover; /* A imagem irá cobrir todo o fundo */
  background-position: center; /* A imagem será centralizada */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  
}
.body{
  background-image: url('./../../public/assets/AFILIADO.png');
  background-size: cover; /* A imagem irá cobrir todo o fundo */
  background-position: center; /* A imagem será centralizada */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
   
}

/* Left section styling */
.login-left {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  /* background-image: url('/path-to-your-background-image.jpg'); Add background image */
  background-size: cover;
  background-position: center;
}

.login-left h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5;
}

.login-left img {
  width: 80%;
  max-width: 300px;
  margin-top: 20px;
}

/* Right section styling */
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-right h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-right p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

/* Input group */
.input-group {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.input-group input {
  color: white;
  width: 100%;
  padding: 10px;
  padding-left: 40px; /* Deixa espaço para o ícone à esquerda */
  border-bottom: 2px solid white;
  font-size: 16px;
}

/* Estilo do placeholder */
.input-group input::placeholder {
  color: white; /* Define a cor do placeholder */
  opacity: 0.7; /* Torna o placeholder um pouco mais transparente */
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
}



.password-icon:before {
  content: "\f023"; /* Font Awesome lock icon */
}

/* Forgot password and register */
.forgot-password, .register-link {
  margin-top: 10px;
  text-align: center;

}

.forgot-password a, .register-link a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-decoration: underline;
}

.btn-submit {
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  
}

.btn-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Spinner for loading */
.spinner {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-form {
  background: white; /* Ou a cor que desejar */
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.entre-titulo {
  text-decoration: underline;
}
.titulo{
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;

}