body {
    background-image: url('./../../public/assets/fundo_profile.png') !important ;

    /* ackground-image: url('/path/to/your/background-image.jpg'); */
    background-size: 100vw 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    align-content: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Garante que o corpo ocupe toda a altura da viewport */
    margin: 0;
    /* Remove qualquer margem do body */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center center;
    background-attachment: fixed;


}
.tag-topo {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: transparent;
    color: white;
    padding: 12px;
    border-radius: 5px;
    z-index: 1000; /* Garante que esteja sobre outros elementos */
}

.pagamento {
    margin-left: 30px;
    /* background-color: #414040; */
    background-color: white;
    width: 100%;
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    gap: '10px';
    height: 50%;
    background-color: #30302f80;
    border-radius: 15px;
    margin-top: 80px;
}


.ajuda {
    margin-top: 80px;
    /* background-color: #414040; */
    width: 100%;
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    gap: '10px';
    height: 90% !important;
    background-color: #30302f80;
    border-radius: 15px;
}

.ajuda div {
    background-color: transparent;
}
.button-group, .button-group-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Largura fixa */
    gap: 10px;
    margin: 0 auto; /* Centraliza na página */
    padding: 20px;
}


.typography-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 680px;
    max-width: 800px; /* Mesma largura para centralização */
    margin-top: 5px;
    gap: 10px;
}


.tabelas-taxas {
    display: block;

    margin-left: 30px;
    margin-top: 20px;
    width: '100%';
    justify-content: 'space-between';
    align-items: 'center';
    gap: '10px';
    height: '100%';
    background-color: #30302f80;
    border-radius: 15px;
    align-items: center;
    /* Alinha os itens ao centro verticalmente */
}
.tabelas-taxas h1{
    padding-top: 15px;
font-size: medium;
display: flex;
flex-direction: column;
font-weight: bolder;
}

.toggle-button {
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    transition: transform 0.2s ease;
    margin-left: 20px;
}

.toggle-button-tabela {
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease;
    margin-left: 20px;
}
.toggle-button-tabela img {
    width: 300px;
    height: 500px;
}

.toggle-button img {
    width: 180px;
    height: 200px;
}
.selecionar-taxa div{
    display: block;

}
.selecionar-taxa h3{
    padding-top: 15px;
    font-size: medium;
    display: flex;
    text-align: center;
    margin-left: 30px;

}
button.selecionar-taxa {
    margin-left: 60px;
    /* Afasta o botão horizontalmente das imagens */
    background-color: #09ce78;
    color: #fff;
    border-radius: 5px;
    max-height: 100px;
}

.toggle-button.active {
    transform: scale(1.1);
    border-radius: 10px;
    background-color: #08fe95;
}
.toggle-button-tabela.active {
    transform: scale(1.1);
    border-radius: 10px;
    background-color: #08fe95;
}

.page {
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
    display: flex;
    justify-content: left;
    text-decoration-color: white;
    color: white;
}

.toggle-page {
    width: 60%;
    /* Cor de fundo quando desativado */
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease;
}

/* Botão normal (não selecionado) */
.toggle-button,
.toggle-page {
    border: none;

    background-color: #4d4d4c5d;
    /* Cor de fundo quando desativado */
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease;
}

/* Botão quando selecionado (ativo) */
.toggle-button.active,
.toggle-page.active {
    transform: scale(1.1);
    border-radius: 10px;
    background-color: #08fe95;
    /* Cor de fundo quando ativado */
}

.toggle-page-tabela {
    flex: auto;
    width: 60%;
    background-color:  #08fe95;
    /* Cor de fundo quando desativado */
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease;
}
.tabelas{
    display: flex;

}
.dropdown-container {
    position: relative;
    width: 200px; /* ajuste a largura conforme necessário */
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 150px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    appearance: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid white; /* adiciona a borda branca */
}

.dropdown-container::after {
    content: '▼'; /* seta */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray; /* cor da seta */
    pointer-events: none; /* evita clique na seta */
}
  
  .img-dropdown img{
    margin-left: 150px;
  }
  .ajuda-btn button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    transition: transform 0.2s ease;
    margin-left: 20px;
    background-color: #08fe95;

}
.ajuda-btn {
    padding-top: 20px;

}
